DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=your_db_name
DATABASE_URL=your_db_url
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
HF_TOKEN=your_hugging_face_token_here